<h1>Welcome to Bid-Aero!  We are currently working on the site.  Please leave your information below and we will get back to you.  Thank you!</h1>

<%= render 'form' %>

<%= link_to 'Back', landingpages_path %>
