/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   font-family: Poppins, sans-serif !important;
   background-image: url("/images/bkg-plane.png");
 }

 input.btn {
   color: #000;
 }

 a.btn {
   text-decoration: none;
   color: #000;
 }

 td {
   text-align: left;
 }

 .btn, .btn.primary {
   background: none !important;
 }

 .btn:hover {
   color: #000 !important;
   text-decoration: underline !important;
 }

 footer {
   margin-top: 3em;
   height: 6em;
 }

 address {
   display: inline-block;
 }

 #address {
   float: left;
   height: 4em;
   margin-top: -2em;
 }

 #email {
   float: right;
   height: 4em;
   margin-top: -2em;
 }
